<div class='row'>
    <div class="col-md-4">
        <h1>QR code scanner</h1>
        <h4>Please scan your QR code when visiting us</h4>
        <div>{{message}}</div>
        <div ng-hide="scanning" class="alert alert-success">Thank you for scanning</div>
        <div>
            <button ng-show="scanning" ng-click="stopScan()"
                    class="btn btn-sm btn-warning">Stop QR scanner</button>
        </div>
        <div>
            <button ng-hide="scanning" ng-click="scanQRAgain()"
                    class="btn btn-sm btn-success">scanAgain</button>
        </div>
    </div>
    <div class="col-md-8" id="qrCodeReaderWrapper">
    </div>
</div>
        <div ng-show="scanning" id="qrCodeReader" style="width:1000px;height:400px;">
        </div>
