<div>
    <table class="table table-striped col-md-6" >
        <thead>
            <tr>
                <th>#</th><th>Username</th><th>Password</th><th>Permissions</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{$index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.role}}</td>
                <td><div class="btn btn-danger" ng-click="removeUser(user.id)">Remove</div></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td><div >{{$index}}</div></td>
                <td><input type="text" ng-model="newUser.username">
                </td>
                <td><input type="text" ng-model="newUser.password"></td>
                <td><input type="text" ng-model="newUser.role"></td>
                <td>
                    <div class="btn btn-primary" ng-click="addUser()">Add User</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>