<div id="clientInfoForm">
    <div>
        <h2 style='text-align: center;'>EDIT CLIENT INFO</h2>
        <qrcode data="string"></qrcode>
    </div>
    <div class='row' style='border:1px solid bladk'>
        <div class='col-sm-4 '>
            <div ng-show="qrClient"class='center-block' style='width: 250px; height: 250px;margin-top:50px;'>
                <qr text="qrClient" type-number="0" correction-level="L" input-mode="inputMode" image="image"></qr>
                <div class='text-center'><b>{{qrClient}}</b></div>
            </div>
            <!--            <img src='components/img/profile_placeholder.png' />-->
        </div>
        <div class='col-sm-4'>
            <form class="form-horizontal" ng-submit="updateClient()" role="form" >
                <div class="form-group">
                    <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputFirstName" placeholder="firstname" ng-model="client.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputLastName" placeholder="last_name" ng-model="client.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputEmail" placeholder="Email" ng-model="client.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputPhone" placeholder="Phone" ng-model="client.phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastVisit" class="col-sm-3 control-label">Last visit</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputLastVisit" type="date"  placeholder="Last visit"
                               ng-model="client.last_visit">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstVisit" class="col-sm-3 control-label">First Visit</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputFirstVisit" type="date"  placeholder="FirstVisit"
                               ng-model="client.createdOn" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumberOfVisits" class="col-sm-3 control-label">Visits:</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputNumberOfVisits" type="number"  placeholder="Visits"
                               ng-model="client.counters.visits" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBonusVisits" class="col-sm-3 control-label">HalfPrice</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputBonusVisits" type="number"  placeholder="half price"
                               ng-model="client.counters.freeVisits" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputProgress" class="col-sm-3 control-label">Progress:</label>
                    <div class="col-sm-6">
                        <rating ng-model="client.counters.progress" max="6"
                                state-on="'scissors-icon'" state-off="'none'" readonly="true"></rating>
                    </div>
                </div>
                <div class="form-group">
                    <label for="QR code" class="col-sm-3 control-label">QR code number</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="inputPhone" placeholder="enter code" ng-model="client.qrcode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            Apply changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <h3>Haircuts</h3>
        <table class='table table-striped'>
            <thead>
                <tr><th>#</th><th>Date</th><th>Paid</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="h in VisitsArray">
                    <td>{{$index + 1}}</td>
                    <td>{{h.date|date:'dd/MM/yyyy' }}</td>
                    <td>{{h.price}}</td>
                </tr>
        </table>
    </div>
</div>