<div ng-if="currentUser">

    <h2>Clients</h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped table-hover" id='ClientsTableMain' >
                <thead>
                    <tr>
                        <th>#</th><th>Name</th><th>Contact Phone</th><th>N Cuts</th><th>Last haircut</th><th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="nameFilter.name" placeholder="Name"/></td>
                        <td><input type="text" ng-model="nameFilter.phone" placeholder="Phone"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead><tbody>
                    <tr ng-repeat="person in people| filter:nameFilter | startFrom:currentPage * pageSize:nameFilter | limitTo:pageSize track by $index"  >
                        <td>{{(currentPage) * pageSize + $index + 1}}</td>
                        <td ng-click='openClient(person.id)'> {{person.first_name}} {{person.last_name}}</td>
                        <td ng-click='openClient(person.id)'>{{person.phone}}</td>
                        <td ng-click='openClient(person.id)'> {{person.counters.progress}} </td>
                        <td ng-click='openClient(person.id)'> {{person.last_visit|date:'dd/MM/yyyy'}}</td>
                        <td class=" btn btn-primary" ng-click="addHairCut(person.id)"><i class="glyphicon glyphicon-plus"></i> ADD</td>
                        <td class=" btn btn-danger" ng-click="removeHairCut(person.id)"><i class="glyphicon glyphicon-minus"></i> REMOVE</td>
                    </tr>
                <tbody>
            </table>
            <div ng-hide='nameFilter'>
                <button ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">
                    Previous
                </button>
                {{currentPage + 1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= people.length / pageSize - 1" ng-click="currentPage = currentPage + 1">
                    Next
                </button>
            </div>

        </div>
        <div class="col-md-4" >
            <div new-client-dialog></div>
        </div>
    </div>
</div>